.publication {
  width: 50%;
  margin: auto;
  /* height: 50px; */
  min-height: 100px;
  background-color: #212121;
  margin-bottom: 2px;
  position: relative;
  color: #f8f8f8;
}
.publication_txt {
  padding: 20px;
  padding-bottom: 50px;
  word-break: break-all;
}
.likeBtn {
  color: #bb86fc;
  position: absolute;
  bottom: 0;
  font-weight: bold;
  font-size: large;
  margin: 5px;
}
.publication_fav {
  vertical-align: middle;
  margin-right: 4px;
}
.publication_fav:hover {
  cursor: pointer;
}
