.profil {
  width: 50%;
  margin: auto;
  height: 250px;
  background-color: #424242;
  margin-top: 50px;
  box-shadow: 0 10px 20px rgba(48, 48, 48, 0.19),
    0 6px 6px rgba(48, 48, 48, 0.23);
  text-align: center;
  padding-bottom: 30px;
}
.profil_i {
  width: 50%;
  margin: auto;
  height: 250px;
  background-color: #bb86fc;
  margin-top: 50px;
  box-shadow: 0 10px 20px rgba(187, 134, 252, 0.19),
    0 6px 6px rgba(187, 134, 252, 0.23);
  text-align: center;
  padding-bottom: 30px;
}
.profil_img {
  margin-top: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #bb86fc;
}
.profil_img_i {
  margin-top: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #424242;
}
.profil_info {
  margin-top: 20px;
}
.profil_info_txt {
  color: #f8f8f8;
  width: 33.33%;
  float: left;
  text-align: center;
}
.profil_info_txt_i {
  font-weight: bold;
  color: #424242;
  width: 33.33%;
  float: left;
  text-align: center;
}
.profil_info_btn {
  margin: 20px;
  border-radius: 10px;
  color: #bb86fc;
  border: 2px solid #bb86fc;
  float: right;
  width: 150px;
  height: 25px;
  padding-top: 5px;
  font-weight: bold;
}
.profil_info_btn:hover {
  cursor: pointer;
  background-color: rgba(187, 134, 252, 0.1);
}

.profil_info_btn_i {
  margin: 20px;
  border-radius: 10px;
  color: #424242;
  border: 2px solid #424242;
  float: right;
  width: 150px;
  height: 25px;
  padding-top: 5px;
  font-weight: bold;
}
.profil_info_btn_i:hover {
  cursor: pointer;
  background-color: rgba(48, 48, 48, 0.1);
}
